html, body {
  margin: 0;
  padding: 0;
  height: 100%;

}
#general {
  height: 10%;

}

 #map, #maparea {
  height: 100%;

  background-color: #F5FDEC;
  margin: 0 auto 0 auto;
  font-size: 1.17em;
}

footer {
  width: 100%;
  background-color: #C0C0C0;


  bottom: 0;
  color: White;
  text-align: center;
  align-content: center;
}
