body {
  margin: 0;
  padding: 0;
}

html, body, #map, maparea {
  height: 91%;
  background-color: #F5FDEC;
  margin: 0 auto 0 auto;
  font-size: 1.17em;
}

footer {
  width: 100%;
  background-color: #C0C0C0;
  height: 19%;

  bottom: 0;
  color: White;
  text-align: center;
  align-content: center;
}
