html, body {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #333333;
}
a {
    color: #d3d2d7;
    text-decoration: underline;
}
#general {
  height: 10%;

}

 #map, #maparea {
  height: 100%;


  margin: 0 auto 0 auto;
  font-size: 1.17em;
}

footer {
  width: 100%;
  background-color: #333333;


  bottom: 0;
  color: White;
  text-align: center;
  align-content: center;
}
